<div class="nested-fields">
	<div class="field">
  	<%= f.label :isbn_no %>
  	<%= f.text_field :isbn_no %>
  </div>

  <div class="field">
  	<%= f.label :title %>
  	<%= f.text_field :title %>
  </div>

  <div class="field">
  	<%= f.label :publish_date %>
  	<%= f.date_select :publish_date, start_year: Time.now.year-18, end_year: Time.now.year %>
  </div>

  <div class="field">
  	<%= f.label :pages %>
  	<%= f.number_field :pages %>
  </div>
  
  <%= link_to_remove_association "remove book ", f %>

</div>