.nested-fields
  .field.form-group.row
    .col-lg-6  
      = f.label :isbn_no
    .col
      = f.text_field :isbn_no, class: "form-control"
  .field.form-group.row
    .col-lg-6
      = f.label :title
    .col
      = f.text_field :title, class: "form-control"
  .field.form-group.row
    .col-lg-6
      = f.label :publish_date
    .col.form-inline
      = f.date_select :publish_date, {order: [:day, :month, :year], start_year: Time.now.year-18, end_year: Time.now.year }, {class: "form-control"}
  .field.form-group.row
    .col-lg-6
      = f.label :pages
    .col
      = f.number_field :pages, class: "form-control"
  = link_to_remove_association "remove book ", f
