= form_with(model: publication, local: true) do |form|
  - if publication.errors.any?
    #error_explanation
      %h2
        = pluralize(publication.errors.count, "error")
        prohibited this publication from being saved:
      %ul
        - publication.errors.full_messages.each do |message|
          %li= message
  .container
    .row
      .col-sm-9.col-md-7.col-lg-7.mx-auto
        .card
          .card-body
            .field.form-group.row
              = form.label :name, class: "col-6 col-form-label"
              .col-6
                = form.text_field :name, class: "form-control"
            .field.form-group.row
              = form.label :address, class: "col-6 col-form-label"
              .col-6
                = form.text_field :address, class: "form-control"
            .field.form-group.row
              = form.label :website, class: "col-6 col-form-label"
              .col-6
                = form.text_field :website, class: "form-control"
            %div
              %p
                %strong Books :
              #book
                = form.fields_for :books do |book|
                  = render 'book_fields', f: book
                .links
                  = link_to_add_association 'add books', form, :books, partial: "book_fields"
            .actions
              = form.submit
