<%= form_with(model: publication, local: true) do |form| %>
  <% if publication.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(publication.errors.count, "error") %> prohibited this publication from being saved:</h2>

      <ul>
        <% publication.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-7 mx-auto">
        <div class="card">
          <div class="card-body">
            <div class="field form-group row">
              <%= form.label :name, class: "col-6 col-form-label" %>
              <div class="col-6">
                <%= form.text_field :name, class: "form-control" %>
              </div>
            </div>

            <div class="field form-group row">
              <%= form.label :address, class: "col-6 col-form-label" %>
              <div class="col-6">
                <%= form.text_field :address, class: "form-control" %>
              </div>
            </div>

            <div class="field form-group row">
              <%= form.label :website, class: "col-6 col-form-label" %>
              <div class="col-6">
                <%= form.text_field :website, class: "form-control" %>
              </div>
            </div>

            <div>
              <p><strong>Books :</strong></p>

              <div id="book">
                <%= form.fields_for :books do |book| %>
                  <%= render 'book_fields', f: book %>
                <% end %>

                <div class="links">
                  <%= link_to_add_association 'add books', form, :books, partial: "book_fields" %>
                </div>
              </div>
            </div>

            <div class="actions">
              <%= form.submit %>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>        
<% end %>
