= form_with(model: book_issue, local: true) do |form|
  - if book_issue.errors.any?
    #error_explanation
      %h2
        = pluralize(book_issue.errors.count, "error")
        prohibited this book_issue from being saved:
      %ul
        - book_issue.errors.full_messages.each do |message|
          %li= message
  .container
    .row
      .col-sm-9.col-md-7.col-lg-8.mx-auto
        .card
          .card-body
            .field.form-group.row
              .col-lg-6  
                = form.label :book_id
              .col
                = form.select("book_id", Book.all.collect{ |book| [book.title, book.id]}, {include_blank: 'Select Book'}, {class: "form-control"})
            .field.form-group.row
              .col-lg-6
                = form.label :user_id
              .col
                = form.select("user_id", User.all.collect{ |user| [user.name, user.id]}, {include_blank: 'Select User'}, {class: "form-control"})
            .field.form-group.row
              .col-lg-6
                = form.label :librarian_id
              .col
                = form.select("librarian_id", Librarian.all.collect{ |librarian| [librarian.name, librarian.id]}, {include_blank: 'Select Librarian'}, {class: "form-control"})
            .field.form-group.row
              .col-lg-6
                = form.label :issue_date
              .col.form-inline
                = form.date_select :issue_date, {order: [:day, :month, :year], start_year:Time.now.year, end_year:Time.now.year}, {class: "form-control input-mini"}
            .field.form-group.row
              .col-lg-6
                = form.label :return_date
              .col.form-inline
                = form.date_select :return_date, {order: [:day, :month, :year], start_year:Time.now.year, end_year:Time.now.year}, {class: "form-control input-mini"}
            .actions
              = form.submit
