<p id="notice"><%= notice %></p>

<h1>Book Issues</h1>

<table>
  <thead>
    <tr>
      <th>Book</th>
      <th>User</th>
      <th>Librarian</th>
      <th>Issue date</th>
      <th>Return date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @book_issues.each do |book_issue| %>
      <tr>
        <td><%= book_issue.book.title %></td>
        <td><%= book_issue.user.name %></td>
        <td><%= book_issue.librarian.name %></td> 
        <td><%= book_issue.issue_date %></td>
        <td><%= book_issue.return_date %></td>
        <td><%= link_to 'Show', book_issue %></td>
        <td><%= link_to 'Edit', edit_book_issue_path(book_issue) %></td>
        <td><%= link_to 'Destroy', book_issue, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Book Issue', new_book_issue_path %>
