!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Library
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    / Masthead
    %header.main.text-center
      .container
        .form-inline.form
          = form_with(url: home_pages_path, method: :get, local: true) do |f|
            
            = f.text_field :title, placeholder: "Search Book", class: "form-control"
            = f.text_field :isbn_no, placeholder: "Search ISBN No", class: "form-control"
            = f.select("year", (2000..Time.now.year).to_a, {prompt: "Select Year"}, {class: "form-control"})
            = f.select("publication_id", Publication.all.collect{ |p| [p.name, p.id]}, {prompt: 'Select Publication'}, {class: "form-control"})
            = f.text_field :author, placeholder: "Search Author", class: "form-control"
            = f.select("category_id", Category.all.collect{ |c| [c.name, c.id]}, {prompt: 'Select Category'}, {class: "form-control"})
            = f.submit "Search", name: "selected", class: "btn text-uppercase"
        - if params[:selected]
          .col-xs-9.col-sm-7.col-lg-9.mx-auto
            - if @books.empty?
              %h2= "No Record Found"
            -else
              %table.table.table-responsive
                %tr
                  %th Title
                  %th ISBN No.
                  %th Publish Date
                  %th Publication
                  %th Authors
                  %th Catgories
                - @books.each do |book|
                  %tr
                    %td= book.title
                    %td= book.isbn_no
                    %td= book.publish_date
                    %td= book.publication.name
                    %td
                      - book.authors.each do |author|
                        = author.name
                    %td
                      - book.categories.each do |category|
                        = category.name
          .pagination.justify-content-center
            = paginate @books