<!DOCTYPE html>
<html>
  <head>
    <title>Library</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>

    <!-- Masthead -->
    <header class="masthead text-white text-center main">
      <div class="container">
        <div class="row">
          <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="form-row">
              <%= form_tag(home_pages_path, method: :get) do %>
                <div class="field">
                  <%= text_field_tag :title, params[:title], placeholder: "Search Book", class: "form-control form-control-lg" %>
                </div>

                <div class="field">
                  <%= submit_tag "Search", name: "selected", class: "btn btn-lg btn-primary btn-block text-uppercase" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>

        <% if params[:selected] %>
          <div class="col-xs-9 col-sm-7 col-lg-9 mx-auto">
            <table class="table table-responsive">
              <tr>
                <th>Title        </th>
                <th>ISBN No.     </th>
                <th>Publish Date </th>
                <th>Publication  </th>
                <th>Pages        </th>
                <th>Authors      </th>
                <th>Catgories    </th>
              </tr>
              <% @books.each do |book| %>
                <tr>
                  <td><%= book.title %></td>
                  <td><%= book.isbn_no %></td>
                  <td><%= book.publish_date %></td>
                  <td><%= book.publication.name%></td>
                  <td><%= book.pages %></td>
                  <td>
                    <% book.authors.each do |author| %>
                      <%= author.name %> 
                    <% end %>
                  </td>
                  <td>
                    <% book.categories.each do |category| %>
                      <%= category.name %> 
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </table>
          </div>
        <% end %>
      </div>
    </header>

  </body> 
</html>