.main
  .container
    .row
      .col-sm-9.col-md-7.col-lg-5.mx-auto
        .card
          %h3.card-header Resend unlock instructions
          .card-body
            = form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f|
              = devise_error_messages!
              .field.form-group.row
                = f.label :email
                %br/
                = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"
              .actions
                = f.submit "Resend unlock instructions", class: "btn btn-block"
            .link
              = render "librarians/shared/links"
