.main
  %nav.navbar.navbar-default
    .container-fluid
      %ul.nav.navbar-nav
        %li#main_title Shops
      %ul.nav.navbar-nav.right
        %li#new_link= link_to 'Add New Shop', new_shop_path, class: " new_link"
  .container
    .row
      - @shops.each do |shop|
        .col-lg-4.col-md-6.mb-4
          .card
            %h3.card-header= shop.name
            .card-body
              .form-group.row
                .col-4
                  Address
                .col-8
                  = shop.address
              .form-group.row
                .col-4
                  Latitude
                .col-8
                  = shop.latitude
              .form-group.row
                .col-4
                  Longitude
                .col-8
                  = shop.longitude
            .card-footer
              = link_to 'Show', shop
              = link_to 'Edit', edit_shop_path(shop)
              = link_to 'Destroy', shop, method: :delete, data: { confirm: 'Are you sure?' }
    .pagination.justify-content-center
      = paginate @shops
