<%= form_with(model: book, local: true) do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :isbn_no %>
    <%= form.text_field :isbn_no %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :number_of_books %>
    <%= form.number_field :number_of_books %>
  </div>

  <div class="field">
    <%= form.label :publish_date %>
    <%= form.date_select :publish_date, start_year: Time.now.year-18, end_year: Time.now.year %>
  </div>

  <div class="field">
    <%= form.label :pages %>
    <%= form.number_field :pages %>
  </div>

  <div class="field">
    <%= form.label :publication_id %>
    <%= form.select("publication_id", Publication.all.collect{ |p| [p.name, p.id]}) %>
  </div>

  <div>
    <p><strong>Authors :</strong></p>

    <div id="author">
      <%= form.fields_for :books_authors do |author| %>
        <%= render 'books_author_fields', f: author %>
      <% end %>

      <div class="links">
        <%= link_to_add_association 'add author', form, :books_authors %>
      </div>
    </div>
  </div>

  <div>
    <p><strong>Category :</strong></p>

    <div id="category">
      <%= form.fields_for :books_categories do |category| %>
        <%= render 'books_category_fields', f: category %>
      <% end %>

      <div class="links">
        <%= link_to_add_association 'add category', form, :books_categories %>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
