<div class="main">

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li id="main_title">Books</li>
      </ul>
      <ul class="nav navbar-nav right">
        <li id="new_link"><%= link_to 'Add New Book', new_book_path, class: " new_link" %></li>
      </ul>
    </div>
  </nav>
  
  <div class="container">
    <div class="row">
      <% @books.each do |book| %>
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card ">
            <h3 class="card-header"><%= book.title %></h3>
            <div class="card-body">
              <div class="row">
                <%if book.image.attached? %>
                  <%= image_tag(book.image.variant(resize: "300x500"), class: "img-fluid") %>
                <% end %>
              </div>
              <div class="form-group row">
                <div class="col-6">
                  ISBN No. 
                </div>
                <div class="col-6">
                  <%= book.isbn_no %>
                </div> 
              </div>
              <div class="form-group row">
                <div class="col-6">
                  Publish Date 
                </div>
                <div class="col-6">
                  <%= book.publish_date %>
                </div> 
              </div>
              <div class="form-group row">
                <div class="col-6">
                  Publication 
                </div>
                <div class="col-6">
                  <%= book.publication.name %>
                </div> 
              </div>
              <div class="form-group row">
                <div class="col-6">
                  Authors 
                </div>
                <div class="col-6">
                  <% book.authors.each do |author| %>
                    <%= author.name %> 
                  <% end %>
                </div> 
              </div>
              <div class="form-group row">
                <div class="col-6">
                  Category 
                </div>
                <div class="col-6">
                  <% book.categories.each do |category| %>
                    <%= category.name %> 
                  <% end %>
                </div> 
              </div>

              <div class="form-group row">
                <div class="col-6">
                  Number of Pages 
                </div>
                <div class="col-6">
                  <%= book.pages %>
                </div> 
              </div>
              <div class="form-group row">
                <div class="col-6">
                  Number of Available Books 
                </div>
                <div class="col-6">
                  <%= book.number_of_books %>
                </div> 
              </div>

              <div class="form-group row">
                <div class="col-6">
                  Users 
                </div>
                <div class="col-6">
                  <% book.users.each do |user| %>
                    <%= user.name %> 
                  <% end %>
                </div> 
              </div>
              <div class="form-group row">
                <div class="col-8"> 
                  <%= link_to 'Show', book %>
                  <%= link_to 'Edit', edit_book_path(book) %>
                  <%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>